.color-cabecalho {
    background-color: #eeeeee;
}

.img-contato {
    height: 50px;
}

.content-conversa {
    background-color: #e5ddd5;
    height: 90vh;
}

.content-input {
    background-color: #dbdbdb;
    height: 10vh;
}

